.input {
  width: 2.87rem;
  height: 2.87rem;
  border-radius: 0.43rem;
  background-color: #ebebfc;
  border: 2px solid #6363db;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: #6363db;
}
