.letterUsed {
  width: 100%;
  margin-top: 3.25rem;
  border-top: 1px solid #c3c3c3;
}

.letterUsed h5 {
  color: #32325f;
  font-weight: 600;
  font-size: 1rem;
  margin: 0.75rem 0;
}

.letterUsed div {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
}
