.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container img {
  height: 3.75rem;
}

.container header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 3.25rem 0;
}

.container header button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.container header button img {
  background: transparent;
  border: none;
  cursor: pointer;

  width: 2rem;
  height: 2rem;
}

.container header span {
  font-size: 1.12rem;
  color: #9b9b9b;
}

.container header span strong {
  font-weight: bold;
  color: #e8891c;
}
